.affair_wrapper {
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.affair_name {
    color: darkgreen;
    margin: 10px;
    font-size: 15px;
}

.affair_deleteButton {
    margin: 5px 20px;
    cursor: pointer;
    background-color: dodgerblue;
    color: darkred;
    border: 1px solid aliceblue;
    border-radius: 3px;

}

.affairs_buttonWrapper {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.affairs_button {
    background-color: dodgerblue;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 3px;
    width: 70px;
    height: 25px;
    cursor: pointer;
}